In [1]:
import pandas as pd
import re

In [2]:
tweets = pd.read_csv("../data/tweets.csv", header=None)
tweets.rename(columns={0:"sentiment", 1:"id", 2:"date", 4:"user", 5:"tweet"}, inplace=True)
tweets.drop(3, axis=1, inplace=True)

In [3]:
pd.set_option("display.max_colwidth", 1000)
tweets.head()

,sentiment,id,date,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by texting it... and might cry as a result School today also. Blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Managed to save 50% The rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all. i'm mad. why am i here? because I can't see you all over there."

In [4]:
tweets["sentiment"].value_counts()

0    800000
4    800000
Name: sentiment, dtype: int64

---
# Pre-Processing

In [5]:
def remove_usernames(tweet):
    return re.sub("@[a-zA-Z0-9]+\s*", "", tweet)

def remove_whitespaces(tweet):
    return re.sub("\s+", " ", tweet)

def remove_links(tweet):
    return re.sub("http\S+", "", tweet)

def remove_specific_patterns(tweet):
    return re.sub("[^a-zA-Z0-9\'\.!%#?\s]", "", tweet)

def cleaning_tweet(tweet):
    return remove_whitespaces(remove_specific_patterns(remove_links(remove_usernames(tweet))))

In [6]:
tweets["tweet"] = tweets["tweet"].apply(cleaning_tweet).str.lower()

In [7]:
tweets.head()

,sentiment,id,date,user,tweet
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,awww that's a bummer. you shoulda got david carr of third day to do it. d
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his facebook by texting it... and might cry as a result school today also. blah!
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,i dived many times for the ball. managed to save 50% the rest go out of bounds
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,no it's not behaving at all. i'm mad. why am i here? because i can't see you all over there.

In [13]:
tweets.to_parquet("../data/pre-processed-tweets.parquet")